* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

header .menu {
  width: 100%;
  text-align: right;
  background: #f5f5f5; }
  header .menu .contenedor {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    header .menu .contenedor .logo {
      margin: 10px 10px; }
      header .menu .contenedor .logo img {
        height: 60px;
        width: 260px; }
    header .menu .contenedor .item a {
      color: #000;
      font-size: 25px;
      font-weight: 400;
      display: inline-block;
      margin: 30px 10px;
      text-decoration: none;
      position: relative; }
      header .menu .contenedor .item a:hover {
        text-decoration: underline; }
header .portada {
  width: 100%;
  height: 500px;
  background: url("../img/BG.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0; }
  header .portada .textos {
    width: 100%;
    color: #fff;
    position: relative;
    margin: 160px 20px; }
    header .portada .textos .nombre {
      font-size: 50px;
      font-weight: 600; }
    header .portada .textos h3 {
      font-weight: 500;
      font-size: 25px; }

.main .somos {
  background: #ffffff;
  padding: 60px 0; }
  .main .somos .titulo {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 40px; }
  .main .somos article {
    text-align: center; }
    .main .somos article p {
      margin-bottom: 30px;
      line-height: 28px;
      font-weight: 400; }

.servicios {
  padding: 70px 0;
  background: #f5f5f5; }
  .servicios .titulo-contenedor {
    width: 100%; }
    .servicios .titulo-contenedor .titulo {
      color: #3895ea;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 40px; }
  .servicios .listado-servicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .servicios .listado-servicio .servicio {
      width: 30%;
      margin-bottom: 40px; }
      .servicios .listado-servicio .servicio .thumb {
        width: 100%;
        margin-bottom: 10px; }
        .servicios .listado-servicio .servicio .thumb img {
          vertical-align: top;
          width: 100%; }
      .servicios .listado-servicio .servicio .descripcion {
        text-align: center; }
        .servicios .listado-servicio .servicio .descripcion .primera_linea {
          font-weight: 700;
          font-size: 26px;
          margin-bottom: 10px; }
          .servicios .listado-servicio .servicio .descripcion .primera_linea::after {
            display: block;
            content: "";
            background: #0368a3;
            width: 100px;
            height: 2px;
            margin: 20px 98px; }
        .servicios .listado-servicio .servicio .descripcion .parrafo {
          font-weight: 500;
          font-size: 21px;
          line-height: 24px; }

.clientes {
  padding: 70px 0; }
  .clientes .titulo-contenedor {
    width: 100%; }
    .clientes .titulo-contenedor .titulo {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 40px; }
  .clientes .listado-clientes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .clientes .listado-clientes .cliente {
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px; }
      .clientes .listado-clientes .cliente .empresa-img {
        width: 20%;
        float: left;
        text-align: right;
        margin: 10px 20px; }
        .clientes .listado-clientes .cliente .empresa-img img {
          max-width: 100px;
          width: 100%;
          vertical-align: top;
          border-radius: 100%; }
      .clientes .listado-clientes .cliente .review {
        float: left;
        width: 80%;
        padding: 0 30px;
        margin-top: 20px; }
        .clientes .listado-clientes .cliente .review .texto {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 10px;
          font-weight: 500;
          font-style: italic; }
        .clientes .listado-clientes .cliente .review .nombre {
          color: #ddb146;
          font-size: 16px; }
      .clientes .listado-clientes .cliente.derecha .empresa-img {
        float: right;
        text-align: left; }
      .clientes .listado-clientes .cliente.derecha .review {
        float: right;
        text-align: right; }

.contacto {
  padding: 70px 0px;
  background: #f5f5f5; }
  .contacto .titulo-contenedor {
    width: 100%; }
    .contacto .titulo-contenedor .titulo {
      color: #3895ea;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600; }
  .contacto .contactos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .contacto .contactos .info {
      width: 32%;
      font-weight: 500;
      font-size: 18px; }
      .contacto .contactos .info .icono {
        width: 10%;
        float: left;
        margin: 10px 20px; }
        .contacto .contactos .info .icono img {
          width: 100%; }

.app-whatsapp {
  position: fixed;
  right: 26px;
  bottom: 20px;
  width: 60px;
  z-index: 1; }
  .app-whatsapp .icon-whatsapp {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 100px; }

.volver-inicio {
  position: fixed;
  left: 26px;
  bottom: 20px;
  width: 60px;
  z-index: 1; }
  .volver-inicio .inicio-icon {
    width: 100%;
    height: auto; }

footer {
  background: #000; }
  footer p {
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px; }

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center; }
    header .menu .contenedor {
      flex-direction: column; }
      header .menu .contenedor .logo img {
        height: 70px; }
      header .menu .contenedor .item {
        margin: 5px 20px; }

  .servicios .listado-servicio {
    text-align: center; }
    .servicios .listado-servicio .servicio {
      width: 100%; }
      .servicios .listado-servicio .servicio .thumb img {
        width: 80%;
        height: 350px; }
      .servicios .listado-servicio .servicio .descripcion .primera_linea:after {
        content: none; }

  .contacto .error-content .errores {
    width: 70%; }
  .contacto .formulario {
    flex-direction: column; }
    .contacto .formulario .tipo-input {
      width: 100%; }
    .contacto .formulario .tipo-textArea {
      width: 100%; }
      .contacto .formulario .tipo-textArea textarea {
        height: 180px; } }
