@media screen and ( max-width: 800px ) 
    header
        .menu
            text-align: center            
            .contenedor
                flex-direction: column
                .logo
                    img
                        height: 70px
                .item
                    margin: 5px 20px
    .servicios
        .listado-servicio
            text-align: center
            .servicio
                width: 100%
                .thumb
                    img
                        width: 100%
                        height: 220px
                .descripcion
                    .primera_linea
                        &:after
                            content: none
    .contacto
        .contactos
            flex-direction: column
            align-items: center
            .info
                width: 100%